@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  /* font-family: 'sans-serif'; */
  font-family: 'Gilroy';
}

body {
  margin: 0;
}

.custom-gradient {
  background: linear-gradient(90deg, 
    #402869 6%, 
    #53265F 16%, 
    #652556 23%, 
    #7F2449 29%, 
    #94223F 61%, 
    #B02031 81%, 
    #C21F28 95%
  );
}

@layer utilities {
  .scrollbar {
    position: relative;
    
  }
  ::-webkit-scrollbar-track {max-height: 50%; height: 50%;}

  .scrollbar::-webkit-scrollbar {
    width: 6px; /* Reduce the width */
    height: 6px; /* Reduce the height */
  }

  .scrollbar::-webkit-scrollbar-track {

    background: #b9b9b9;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #f11818;
    border-radius: 50px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d60e0e;
  }

  /* Add arrows to scrollbar */
  .scrollbar-arrow-left,
  .scrollbar-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #f11818;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }

  .scrollbar-arrow-left {
    left: -40px; /* Adjust to position to the left */
  }

  .scrollbar-arrow-right {
    right: -40px; /* Adjust to position to the right */
  }
}

::-webkit-scrollbar-thumb:hover {
  background: #91b480;
}


::-webkit-scrollbar-button {
  height: 25px; /* Button size */
  width: 250px;
  border-radius: 50%; /* Circular shape */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* Arrow size */
  color: white; /* Arrow color */
  font-family: Arial, sans-serif; /* Use a readable font */
}

/* Top Button (Up Arrow) */
::-webkit-scrollbar-button:vertical:decrement {
  content: "▲"; /* Up arrow symbol */
}

/* Bottom Button (Down Arrow) */
::-webkit-scrollbar-button:vertical:increment {
  content: "▼"; /* Down arrow symbol */
}

/* Left Button (Left Arrow) */
::-webkit-scrollbar-button:horizontal:decrement {
  content: "◀"; /* Left arrow symbol */
}

/* Right Button (Right Arrow) */
::-webkit-scrollbar-button:horizontal:increment {
  content: "▶"; /* Right arrow symbol */
}

/* Hover Effects */
::-webkit-scrollbar-button:hover {
  /* background: #d32f2f; 
  border-color: #b71c1c; */
}
