@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins';
}

body {
  margin: 0;
}

.custom-gradient {
  background: linear-gradient(
    90deg,
    #402869 6%,
    #53265F 16%,
    #652556 23%,
    #7F2449 29%,
    #94223F 61%,
    #B02031 81%,
    #C21F28 95%
  );
}

/* Tailwind Utilities Layer */
@layer utilities {
  .scrollbar {
    position: relative;
  }
  ::-webkit-scrollbar-track {
    max-height: 50%;
    height: 50%;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px; /* Reduce the width */
    height: 6px; /* Reduce the height */
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #b9b9b9;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #f11818;
    border-radius: 50px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d60e0e;
  }

  .scrollbar-arrow-left,
  .scrollbar-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #f11818;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }

  .scrollbar-arrow-left {
    left: -40px;
  }

  .scrollbar-arrow-right {
    right: -40px;
  }
}

::-webkit-scrollbar-thumb:hover {
  background: #91b480;
}

::-webkit-scrollbar-button {
  height: 25px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar-button:vertical:decrement {
  content: "▲";
}

::-webkit-scrollbar-button:vertical:increment {
  content: "▼";
}

::-webkit-scrollbar-button:horizontal:decrement {
  content: "◀";
}

::-webkit-scrollbar-button:horizontal:increment {
  content: "▶";
}

::-webkit-scrollbar-button:hover {
  /* Styles for hover state */
}
